{% extends 'base.html' %}

{% block title %}من نحن - مكتب اركن علينا {% endblock %}

{% block content %}
<div class="container py-4">
    <h1 class="mb-4">من نحن</h1>

    <div class="row">
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">مكتب  اركن علينا  </h3>
                    <p>نقدم في مكتبنا مجموعة من الخدمات الحكومية الالكترونية في كثير من القطاعات مما يجعلنا افضل مكتب خدمات متكامل لكل احتياجاتك من تعقيب وخدمات على مستوى الأفراد أو الموسسات.</p>
                    
                    <h4 class="mt-4">خبرتنا</h4>
                    <p>مكتبنا خبرة تمتد ل 12 عام قدمنا خلالها خدمات كبيرة لعدد كبير من الافراد والشركات بكل احترافية وسرعة في الإنجاز.</p>
                    
                    <h4 class="mt-4">التزامنا</h4>
                    <p>نتميز بالأمانة والسلوك المهني الراقي، جودة خدمات عالية، نسبة خطأ منعدمة، وضوح في المعاملات، وسرية وأمان معلوماتك.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">معلومات التواصل</h5>
                    <p>
                         <i class="fas fa-phone text-primary"></i> 0506449218<br>
                         <i class="fas fa-phone text-primary"></i> 0559752263<br>
                           <i class="fas fa-envelope text-primary"></i> aliahmedalqufaili@gmail.com<br>
                        <i class="fas fa-map-marker-alt text-primary"></i> الدمام المملكة العربية السعودية
                    </p>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">ساعات العمل</h5>
                    <p>
                        السبت - الخميس: 9:00 - 17:00<br>
                        الجمعة: مغلق<br>
                        الأحد: 9:00 - 17:00
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
